# Frontend
NUXT_PUBLIC_API_URL=http://localhost:3001

# Backend
PORT=3001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/empresa_web
JWT_SECRET=canvia_aixo_per_un_secret_seguro
CORS_ORIGIN=http://localhost:3000
